$primary:#374bff;
$primary-80:#5b6bff;
$primary-60:#A5AEFF;
$primary-40:#D7DBFF;
$primary-20:#F3F4FF;
$primary-10:#F3F4FF;

$grey:#787b82;
$grey-80:#ADB0B6;
$grey-60:#D0D2D6;
$grey-40:#E8E8EA;
$grey-20:#EEEEF0;
$grey-10:#F7F7F8;

$success:#01ab59;
$success-80:#32CE70;
$success-60:#79DFA2;
$success-40:#A2EDC0;
$success-20:#E6F7F0;
$success-10:#F2FBF7;

$error:#F41A1A;
$error-80:#F53131;
$error-60:#F75F5F;
$error-40:#F98C8C;
$error-20:#FCBABA;
$error-10:#FFEFEF;


$black:#141414;
$white:#ffffff;
