@import "../scss/settings/_all.scss";
@import "../scss/styles/_all.scss";


.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

