

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 700;
  letter-spacing: 2px;
  color: $black;
  background-color: $primary-10;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include desktop {
      justify-content: center;
    }
    .hamburger {
      cursor: pointer;
      display: block;
      z-index: 2;
      @include desktop {
        display: none;
      }

      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin:4px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background: $black;
        border-radius:32px ;
      }

      &.open .bar:nth-child(2) {
        opacity: 0;
      }

      &.open .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }

      &.open .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
      }
    }




      .text{
        font-size: 1rem;
        color:$black;
        white-space: nowrap;
      }
      .element{
        display:none;
        border-radius: 0 15px 15px 15px;
        background-color: $primary;
        color: $white;
        width: 100px;
        padding: 0 10px;
        margin-left: 16px;
        height: 30px;
        font-size:0.875rem;
        @include desktop {
          display: flex;
          align-items: center;
          justify-content: center;

        }
      }


    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: fixed;
      opacity: 0;
      height: 0;
      background-color: $primary-10;
      top: -50%;
      left: 0;
      right: 0;
      bottom: 50%;
      transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;

      &.open {
        top: 0;
        height: 100vh;
        opacity: 1;
        z-index: 1;
      }

      @include desktop {
        position: static;
        opacity: 1;
        height: auto;
        flex-direction: row;
        margin: 0 auto;

      }

      &_item {
        font-weight: 700;
        margin: 0 16px;
        padding: 24px 0;
        white-space: nowrap;
      }

    }

      .join{

        border: none;
        background-color: $primary;
        font-size:0.875rem;
        color: $white;
        padding: 9px 29.5px;
        border-radius: 50px;
        font-weight: 700;
        letter-spacing: 2px;



        z-index: 0;
        opacity: 0;
        position:fixed;
        top: -50%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        align-self: center;
        transition: opacity 0.4s ease-in-out,top 0.4s ease-in-out;
        &.open{
          top: 75%;
          z-index: 1;
          opacity: 1;
        }
        @include desktop {
          display: block;
          position: unset;
          transform: unset;
          max-height: unset;
          opacity: 1;
        }
      }
    }
  }
